<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: 'MGV5LDS23F',
	apiKey: 'a38ed1be7989087b7db35abe9f33a7b0',
	siteId: 'e552c424-5cc1-4640-9a6d-e94c71dc1d65',
	branch: 'dev',
	selector: 'div#search'
  });
</script>
