	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"
/>
<script
	src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"
></script>

	<script>
	docsearch({
		// Your Search API Key
		apiKey: '26baec793647a42f9d368e6eecb59f45',
		// The index populated by the DocSearch scraper
		indexName: 'congo',
		// Your Algolia Application ID
		appId: '8K4NWFWCDK',
		// Replace inputSelector with a CSS selector
		// matching your search input
		inputSelector: 'div#search',
		// Set debug to true to inspect the dropdown
		debug: false,
	});
</script>

	<form class="d-flex" id="search-form">
		<div class="input-group">
				<input
					type="search"
					id="search"
					class="form-control"
					placeholder="Search"
				>
		</div>
</form>
<div id="search"></div>